.wrapper {
  height: auto;
  width: auto;
}


.title {
  margin: 0 auto;
  font-size: 100px !important;
  font-family: arial;
  color: white;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.content {
  margin: 0;
}

.links {
  margin-top: 15px
}

.articles-header {
  margin: 0;
  margin-left: 10px;
}

.home-latest {
  margin-left: 40px;
  margin-right: 30px;
  h2 {
    margin-bottom: 20px;
  }
}
