// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.white_background {
  background-color: white;
  height: 100vh;
}

.align {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.padding_bottom {
  padding-bottom: 50px;
}

.ql-toolbar.ql-snow {
    border: 0px solid #ccc;
    box-sizing: unset;
    font-family: 'Open Sans', sans-serif;
    padding: 8px;
}

.margin_bottom {
  margin-bottom: 20px;
}

.form_light {
  border: 0px solid #ccc;
  border-left: 1px solid #6d6467;
  border-radius: 0px;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
}

.form_light:focus {
    outline:none !important;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(102, 175, 233, 0.6) !important;
}
